
<% if usuario_signed_in? %>
	<div class="col-xs-4 well" style="float: right;">
		<div class="col-xs-2">
		<img src="<%= current_usuario.gravatar_url %>"></div>
		<div class="col-xs-9" style="text-align: right;">
			<p><%= current_usuario.email %></p>
			<%= link_to "Salir",logout_path %>
		</div>
	</div>
<%end%>