// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
	color:palette(grey, light);
}
.lista {
	height: em(50px);
}
.info {
	height: em(88px);
	.description {
		opacity: 0.5;
	}
}
.encabezado{
	text-align: center;
	padding: 1%;
}
.nospaces {
	margin: 0;
	padding: 0;
}
.allright {
	float: right;
	text-align: right;
}