// Place all the styles related to the todo_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
	color:palette(grey, light);
}
.lista {
	margin: em(15px);
	height: em(145px);
}
.info {
	height: em(88px);
}
.encabezado{
	text-align: center;
}